<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Atlas</title>
</head>
<body class="container">

  <div ng-app="ejemplos" ng-controller="c1" class="container">
    <input ng-model="fact.cliente" placeholder="nombre del cliente" class="form-control"> 
    <button ng-click="fact.lineas.push({concepto: '', cantidad: 1, precio: 1})" class="btn btn-primary"> añadir concepto </button>
    <button ng-click="guardar()" class="btn btn-primary"> guardar factura </button>
    <hr>
    <div ng-repeat="(index, linea) in fact.lineas" class="container row">
      <div class="col-1">
          <button ng-click="fact.lineas.splice(index, 1)" class="btn btn-primary"> X </button>
      </div>
      <div class="col-5">       
        <input type="text" ng-model="linea.concepto" class="form-control">
      </div>
      <div class="col-2">
        <input type="number" ng-model="linea.cantidad" class="form-control">    
      </div>
      <div class="col-2">
        <input type="number" ng-model="linea.precio" class="form-control">    
      </div>
      <div class="col-2">
       <span class="text-danger img-thumbnail float-right">{{ (linea.cantidad * linea.precio).toFixed(2) }}</span>
      </div>      
    </div>

  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>

class Factura {
  constructor(){
    this.cliente = '';
    this.lineas = []
  }

  guardar(scope, http){
    http.post('/update', this).then( resp => console.log(resp) )
  }
}

angular.module('ejemplos', [])
.controller('c1', function($scope, $http) {      
  $scope.fact = new Factura()
  // polimorfismo guardar():
  $scope.guardar = function(){ $scope.fact.guardar($scope, $http)}
})
</script>

